---
layout: default
title: Distribution
permalink: /distribution/
---

{%
  include page-header.html
  title="Smarter Job Distribution"
  img="/assets/img/distribution-header.jpg"
%}

{% include free-trial.html %}

<div class="padded-section decorative-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Maximize Applicant Flow with Glidepath</h2>
        <p>
          Glidepath intelligently routes your jobs to the right mix of distribution partners, providing significant, qualified applicant flow.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="padded-section alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="alt-header text-center">Our Distribution Partners</h3>
        <br />
        <div class="boxed-content">
          <h4 class="header">
            Premium Distribution
          </h4>
          <div class="content text-center">
            <p>
              <img src="{{ "/assets/img/premium-distribution-1.png" | relative_url }}" />
              <img src="{{ "/assets/img/premium-distribution-2.png" | relative_url }}" />
            </p>
            <br />
            <h4 class="alt-header">Industry Specific Distribution</h4>
            <br />
            <p>
              <img src="{{ "/assets/img/industry-distribution-1.png" | relative_url }}" />
              <img src="{{ "/assets/img/industry-distribution-2.png" | relative_url }}" />
            </p>
            <br />
            <h4 class="alt-header">Localized Distribution</h4>
            <br />
            <p>
              <img src="{{ "/assets/img/localized-distribution-1.png" | relative_url }}" />
              <img src="{{ "/assets/img/localized-distribution-2.png" | relative_url }}" />
            </p>
          </div>
        </div>
        <br />
        <div class="boxed-content">
          <h4 class="header">
            Diversity and Veterans
          </h4>
          <div class="content text-center">
            <p>
              Qualifying jobs posted are distributed to our diversity and inclusion network, including niche veteran and diversity sites and state employment agencies.
            </p>
            <p>
              <img src="{{ "/assets/img/diversity-veterans-1.png" | relative_url }}" />
            </p>
            <p>
              <img src="{{ "/assets/img/diversity-veterans-2.png" | relative_url }}" />
            </p>
          </div>
        </div>
        <p class="text-center">
          <small>* Only accepts postings from direct employers associated with subscription accounts.</small>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="padded-section">
  <div class="container">
    <h2 class="text-center">Better Distribution = Better Applicant Flow</h2>
    <br />
    <div class="row">
      <div class="col-md-4 text-center">
        <br />
        <p>
          <img src="{{ "/assets/img/iconic.png" | relative_url }}" />
        </p>
      </div>
      <div class="col-md-8">
        <div class="quote">
          <p class="text">
            Glidepath is an absolute no brainer! The simple interface requires almost no training to get started and the intuitiveness of the tool made it simple to implement. As we grow our team, Glidepath will be our applicant tracking system of choice.
          </p>
          <p class="title">
            Jason Hutcheson - CEO Iconic Digital Media
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include register-cta.html %}

<div class="padded-section inline-cta">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center">
        <h2>Now that you know about our Network</h2>
      </div>
      <div class="col-md-4 text-center">
        <a href="{{ site.baseurl }}{% link features.html %}" class="btn btn-primary">Learn About Our Application</a>
      </div>
    </div>
  </div>
</div>
