---
---
/* Import SASS Dependencies
--------------------------- */
@import "variables";
@import "bootstrap";
@import "mixins";

/* Global Styles
---------------- */
body {
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.alt-header {
  text-transform: uppercase;
  font-weight: 300;
  color: #425f74;
  letter-spacing: 1px;
}

.light-text {
  color: white;
  h1,h2,h3,h4,h5,h6 {
    color: white;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

.btn {
  text-transform: uppercase;
}

.btn.hollow {
  background: transparent;
  &.btn-primary {
    border: 2px solid $btn-primary-border;
    color: $btn-primary-border;

    &:hover, &:focus {
      color: white;
      background: $btn-primary-bg;
    }
  }
}

.btn-log-in {
  background: #819fb0;
  color: white;
  &:hover, &:focus {
    background: darken(#819fb0, 2%);
    color: white;
  }
}

.panel-info .panel-title {
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}

.panel-title a {
  text-decoration: none;
}

/* Primary Nav Styles
--------------------- */
.navbar {
  text-transform: uppercase;
  letter-spacing: 1px;

  .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    + .btn {
      margin-left: .5rem;
    }
  }
}

.navbar-brand {
  padding: 30px 15px;
  img {
    max-height: 30px;
  }
}

@include breakpoint(md){
  .navbar {
    background: transparent;
    margin-bottom: -$navbar-height;
    border-bottom: 0;
    float: left;
    width: 100%;
  }
  .navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,.9);
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}

@include breakpoint(md-down) {
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-nav > li {
    text-align: center;
    border-bottom: 1px solid $navbar-default-border;
  }
}

/* Footer Styles
---------------- */
.footer {
  background: #003D60;
  color: white;
  padding: 6% 0;
  text-align: center;

  a {
    color: rgba(255,255,255,.95);
    &:hover, &:focus {
      color: rgba(255,255,255,1);
    }
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background: darken(#003D60, 2%);
  }

  .logo {
    margin-bottom: 1rem;
    margin-top: 2rem;
    img {
      max-height: 25px;
    }
  }

  .social-links {
    font-size: smaller;
    a {
      text-decoration: none;
    }
  }

  @include breakpoint(md) {
    text-align: left;
    .logo {
      margin-top: 0;
    }
  }
}

/* Page Styles
-------------- */
.page-header {
  @include bg-cover;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  border-bottom: 0;
}

.home-header {
  text-align: left;
  background-image: url(../img/header-home.png);
  img {
    max-width: 300px;
  }
}

@include breakpoint(md){
  .page-header {
    padding-top: calc(5% + 90px);
  }
  .page-header p {
    padding: 0 12%;
  }
  .no-header {
    background: $brand-info;
    height: 90px;
  }
}

.free-trial {
  background: #10A1E3;
  color: white;
  padding: 2rem 0;
  &.alt-color {
    background: $brand-info;
  }
  h3 {
    margin-top: 0;
  }
}

@include breakpoint(md){
  .free-trial h3 {
    margin: .5rem 0;
  }
}

.padded-section {
  padding: 6rem 0 7.5rem 0;
  &.alt-bg {
    background: #f3faff;
  }
  &.primary-bg {
    background: $brand-primary;
  }
  &.decorative-bg {
    background: url(../img/decorative-bg-1.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.boxed-content {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin: 2rem 0 1rem 0;
  .header {
    background: $brand-primary;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .content {
    padding: 5rem;
  }
}

.quote {
  .text {
    &:before, &:after {
      color: $brand-primary;
      font-size: 4em;
      line-height: .1em;
      vertical-align: middle;
      position: relative;
      top:.2em;
    }
    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
  .title {
    font-size: smaller;
  }
}

@include breakpoint(md){
  .inline-cta {
    h2 {
      margin: .25rem 0;
    }
  }
}

/* FAQs
------- */
.faq {
  padding-left: 3em;
  position: relative;
  margin-bottom: 2rem;
  .question {
    color: black;
    display: block;
    text-decoration: none;
    &:before {
      content: '\f067';
      font-family: 'FontAwesome';
      color: $gray-light;
      position: absolute;
      left: 1em;
    }
    &[aria-expanded="true"]:before {
      content: '\f068';
    }
  }
}

/* Features
----------- */
.features-collapse .container {
  margin-bottom: -7.5rem;
}
.features-shadow {
  box-shadow: 0 5px 5px -2px rgba(0,0,0,.08);
}

/* Home
------- */
.dashed-connection {
  position: relative;

  img {
    max-width: 90%;
  }
  @include breakpoint(md){
    .dashed-graphic {
      width: 53%;
      margin: -12rem auto 0 auto;
      height: 12rem;
      border: 3px dashed $brand-primary;
      border-top: none;
    }
  }
}

.home-cta {
  @include bg-cover("../img/cta-bg.png");
}
